<div class="section columns has-top-padding">
    <div class="column is-8 is-offset-2">

        {{!--#if feature_image}}
        <figure class="image">
            <img src="{{feature_image}}" alt="Image" style="align-self: center;">
        </figure>
        {{/if--}}

        <section>
            {{content}}
        </section>

    </div>
</div>