<footer class="footer ">
  <div class="container ">
    <div class="content has-text-centered ">
      <div class="columns ">
        <div class="column is-6 is-offset-3 ">
          <div class="level ">
            <div class="level-item ">
              {{> "social"}}
            </div>
          </div>
          <p>
            Write to us at <a href="mailto:hello@jaaga.in ">hello@jaaga.in</a>, call us on <a href="tel:+919113971957">+91 9113971957</a> or submit your email address below and we will be in touch very soon.
          </p>
          <div class="level ">
            <div class="level-item">
              {{> "signup"}}
            </div>
          </div>
        </div>
      </div>
      <p>
        Jaaga operates with a hybrid business model. Jaaga Startup LLP is a for profit entity that works closely with startups and enterprises. Profits support Jaaga Trust which is a private charitable trust and looks after our arts and culture initiatives. Please <a href="/donate/">donate</a> if you would like to support either of the two entities.
      </p>
      <p>
        <a href="/terms/">Terms and Conditions</a> | <a href="/privacy/">Privacy Policy</a> | <a href="/ethics/">Ethics Policy</a> | <a href="/anti-harassment/">Anti-Harassment Policy</a> | <a href="/refund/">Refund Policy</a>
      </p>
      <p>
        Built by <strong><a href=" {{@blog.url}} ">{{@blog.title}}</a></strong> using <a href="http://ghost.org " target="_blank ">Ghost</a> and <a href="http://bulma.io " target="_blank ">Bulma</a>. <a href="https://github.com/Jaaga/jaaga-ghost-theme" target="_blank ">The theme</a> is licensed
        <a href="https://mit-license.org/" target="_blank ">MIT</a>. Website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/ " target="_blank ">CC ANS 4.0</a>.
      </p>
    </div>
  </div>
</footer>
