<div class="navbar-end">
  <div class="field is-grouped ">
    <a class="navbar-item is-white" href="tel:+919113971957"><i class="fa fa-phone" aria-hidden="true"></i></a>
    <a class="navbar-item is-white" href="/crew/"><i class="fa fa-users" aria-hidden="true"></i></a>
    <a class="navbar-item is-white" href="/locations/"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
    <a class="navbar-item is-white" href="/blog/"><i class="fa fa-quote-left" aria-hidden="true"></i></a>
    <a class="navbar-item is-white" href="/events/"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></a>
    <a class="navbar-item is-white" href="/donate/"><i class="fa fa-heart" aria-hidden="true"></i></a>
  </div>
</div>
