<nav class="navbar is-dna">
  <div class="navbar-brand">
    <!-- <a class="navbar-item is-white is-size-5" href="/dna-projects/">Projects</a> -->
    <a class="navbar-item is-white is-size-5" href="/dna-residencies/">Residencies</a>
    <a class="navbar-item is-uppercase is-white is-size-5" href="/dna-join/"><b>Join</b></a>
  </div>
</nav>
