<nav class="navbar is-startup">
  <div class="navbar-brand">
    <a class="navbar-item is-white is-size-5" href="/startup-benefits/">Benefits</a>
    <a class="navbar-item is-white is-size-5" href="/startup-pricing/">Pricing</a>
    <a class="navbar-item is-uppercase is-size-5 is-white" href="/startup-join/"><b>Join</b></a>
  </div>
</nav>
