<nav class="navbar is-jaaga-red">
  <div class="navbar-brand">
    <a class="navbar-item is-labs is-white is-uppercase is-size-5-desktop is-size-7-mobile" href="/labs/">Labs</a>
    <a class="navbar-item is-study is-white is-uppercase is-size-5-desktop is-size-7-mobile" href="/study/">Study</a>
    <a class="navbar-item is-dna is-white is-uppercase is-size-5-desktop is-size-7-mobile" href="/dna/">DNA</a>
    <a class="navbar-item is-startup is-white is-uppercase is-size-5-desktop is-size-7-mobile" href="/startup/">Startup</a>
    <div class="navbar-burger is-white" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    {{> "right-navbar"}}
  </div>
</nav>
