<div class="field is-grouped">
  {{#if @blog.facebook}}
    <a class="button has-no-border " href=" {{facebook_url @blog.facebook}} " target="_blank ">
    <span class="icon "><i class="fa fa-facebook is-size-5 "></i></span>
  </a>&nbsp;
  {{/if}}
  {{#if @blog.twitter}}
    <a class="button has-no-border " href=" {{twitter_url @blog.twitter}} " target="_blank ">
    <span class="icon "><i class="fa fa-twitter is-size-5 "></i></span>
  </a>&nbsp;
  {{/if}}
  <a class="button has-no-border " href="https://www.instagram.com/jaagarnaut/ " target="_blank ">
  <span class="icon "><i class="fa fa-instagram is-size-5 "></i></span>
</a>
</div>
