<footer class="page-footer transparent no-padding-top">
    <div class="footer-copyright transparent">
        <div class="container">
            <div class="grey-text text-darken-1 center">
                <p class="left no-float-xs">
                    <a href="{{@blog.url}}">{{@blog.title}}</a>
                    © 2016-{{date format="YYYY"}}
                </p>
                <p class="right no-float-xs">
                    powered by
                    <a href="https://github.com/vlad-s/ghosterial" target="_blank" rel="noopener">ghosterial</a>
                </p>
            </div>
        </div>
    </div>
</footer>